@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow: hidden; /*The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area*/
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /*means 100% vertical height*/
  background-image: url('./images/Chocolate1.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

.box {
  position: relative;
}

.container {
  position: relative;
  width:400px;
  min-height: 400px;
  background-color: rgb(255, 228, 196,0.65); /*rgb(x,y,z,o) where o is transparency*/
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 2px solid rgb(255, 255, 255,0.5);
  border-right: 1px solid rgb(255, 255, 255,0.2);
  border-bottom: 1px solid rgb(255, 255, 255,0.2);
  /* padding: 1em; */
} 

.main_form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
} 

.main_form h2{
  position: relative;
  color: #673026 ;  /*#38150F*/
  font-size: 24px;
  font-weight: 500px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.main_form h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #673026;
}

.main_form .inputBox input{
  width: 100%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgb(255, 255, 255,0.5);
  border-right: 1px solid rgb(255, 255, 255,0.2);
  border-bottom: 1px solid rgb(255, 255, 255,0.2);
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.main_form .inputBox input::placeholder {
  color: rgb(106, 105, 103);
}

.main_form .inputBox input[type="submit"] {
background-color: #673026;
color: azure;
max-width: 100px;
margin-bottom: 20px;
font-weight: 600;
cursor: pointer;
}

.forget{
  margin-top: 5px;
  color: #4a2929;
}

.forget a {
  color: aliceblue;
  text-decoration: none;
}

.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.1);
  border: 2px solid rgb(255, 255, 255,0.5);
  border-right: 1px solid rgb(255, 255, 255,0.2);
  border-bottom: 1px solid rgb(255, 255, 255,0.2);
  background-color: rgb(255, 228, 196,0.65); 
  border-radius: 50px;
  animation: animate 10s linear infinite; 
  animation-delay: calc(-1s * var(--i)); 
  /*Basically calling each box with 1s delay*/
}

@keyframes animate 
{
  0%,100%{
    transform: translateY(-40px) ;

  }
  50%{
    transform: translateY(40px);
  }
} 

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.box .square:nth-child(4) {
  bottom: -80px;
  left:100px;
  width: 50px;
  height: 50px;
}

.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}

a:hover {
  color: #983e2e;
}

/* 
.main_form .inputBox input[type="submit"]:hover {} */
.main_form .inputBox .btn:hover{  
  background-color: #983e2e;
}







